<div class ="home_container">
  <app-card
  gameCover="assets/mix-300x300.jpg"
  gameLabel="Mix Exclusivo!"
  gameType="Kit Pronto"
  gamePrice="R$ 19,99"
  >
  </app-card>

  <app-card
  gameCover="assets/psy-300x300.jpg"
  gameLabel="HUSKY"
  gameType="Granel"
  gamePrice="R$ 19,99 / 100gr"
  >
  </app-card>

  <app-card
  gameCover="assets/pó-300x300.jpg"
  gameLabel="Pó"
  gameType="Granel"
  gamePrice="R$ 19,99 / 100gr"
  >
  </app-card>

  <app-card
  gameCover="assets/mix-300x300.jpg"
  gameLabel="Mix Exclusivo!"
  gameType="Kit Pronto"
  gamePrice="R$ 19,99"
  >
  </app-card>

  <app-card
  gameCover="assets/psy-300x300.jpg"
  gameLabel="HUSKY"
  gameType="Granel"
  gamePrice="R$ 19,99 / 100gr"
  >
  </app-card>

  <app-card
  gameCover="assets/pó-300x300.jpg"
  gameLabel="Pó"
  gameType="Granel"
  gamePrice="R$ 19,99 / 100gr"
  >
  </app-card>
</div>

